/************ OVERALL DIMENSION ************/
:root {
    --orange: #FDA214;
    --medium-1: #BCCED9;
    --dark-1: #304859;
    --dark-2: #152938;
    --light-1: #F2F2F2;
    --medium-2: #7191A5;
    --medium-3: #6395B8;
    --light-2: #FCFCFC;

    --font: 'Atkinson Hyperlegible', sans-serif;

    font-size: 62.5%;

    margin: 0;
    padding: 0;
}

.noselect{
    user-select: none;
}

html{
    font-family: inherit;
    margin: 0;
    padding: 0;

    box-sizing: border-box;


    /* overflow: hidden; */

    background: hotpink;

    height: 100vh;
}

body{
    box-sizing: border-box;
    height: 100%;
}

.body {
    background-color: var(--light-2);
    font-family: var(--font);
    font-size: 4.8rem;

    width: 100vw;
    max-width: 100vw;
    height: 100vh;

    overflow: hidden;

    background-color: lightblue;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    z-index: 3;

    position: relative;

    
}

/************ BUTTONS ************/
button {
    cursor: pointer;
}

.button{
    background-color: orange;
    color: var(--light1);
    font-family: var(--font);

    font-size: 2rem;
    padding: 2rem;
    border-radius: 20px;
}

.btn_primary_win{
    height: 5.2rem;
    width: min(26.4rem, 40%);
    border-radius: 2.6rem;

    background-color: var(--orange);
    color: var(--light-2);

    font-size: min(2rem, 5vmin);

    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;

    opacity: 1;

    transition: all .2s;

}

.btn_primary_win:hover{
    opacity: 0.7;
}

.btn_primary{
    height: min(5.2rem, 13vmin);
    width: min(12.7rem, 33vmin);
    border-radius: 2.6rem;

    background-color: var(--orange);
    color: var(--light-2);

    font-size: min(2rem, 6vmin);

    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;

    opacity: 1;

    transition: all .2s;

}

.btn_primary:hover{
    opacity: 0.7;
}

.btn_secondary{
    height: min(5.2rem, 13vmin);
    width: min(14.9rem, 35vmin);
    border-radius: 2.6rem;

    background-color: var(--medium-1);
    color: var(--dark-1);

    font-weight: 700;
    font-size: min(2rem, 6vmin);

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;

    transition: all .2s;
}

.btn_secondary:hover{
    color: var(--light-2);
    background-color: var(--medium-3);
}

.btn_secondary_win{
    height: 5.2rem;
    width: min(26.4rem, 40%);
    border-radius: 2.6rem;

    background-color: var(--medium-1);
    color: var(--dark-1);

    font-weight: 700;
    font-size: min(2rem, 5vmin);

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;

    transition: all .2s;
}

.btn_secondary_win:hover{
    color: var(--light-2);
    background-color: var(--medium-3);
}

.menu_selection {
    width: 50%;
    height: 58%;
    border-radius: 2.6rem;

    font-size: min(2.6rem, 5vmin);
    font-weight: 700;
    line-height: 3.2rem;
    letter-spacing: 0px;

    display: flex;

    justify-content: center;
    align-items: center;

    color: var(--light-2);

    background-color: var(--dark-1);

    border: none;

    transition: all .2s;
    
}

.menu_selection:hover{
    background-color: var(--medium-3);
}

.menu_selection_clicked{
    border: none;
    width: 50%;
    height: 58%;
    border-radius: 2.6rem;

    font-size: min(2.6rem, 5vmin);
    font-weight: 700;
    line-height: 3.2rem;
    letter-spacing: 0px;

    display: flex;

    justify-content: center;
    align-items: center;

    color: var(--light-2);

    background-color: var(--medium-1);

    transition: all .2s;
}

.btn_big{
    width: 54.1rem;
    height: min(7rem, 10vh);
    width: 100%;

    border-radius: 3.5rem;

    background-color: var(--orange);

    color: var(--light-2);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: min(3.2rem, 6vmin);
    line-height: 4rem;
    font-weight: 700;
    
    opacity: 1;

    transition: all .2s;

    border: none;
}

.btn_big:hover{
    opacity: 0.7;
}

.utilities_mobile{
    height: 7vh;
    width: min(7.8rem, 18vw);
    border-radius: 2.6rem;

    background-color: var(--orange);

    color: var(--light-2);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: min(1.6rem, 4vmin);
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 0px;
    text-align: center;

    border: none;

}

.menu_primary{
    height: 4.8rem;
    width: 27.9rem;
    left: 0px;
    top: 0px;
    border-radius: 2.6rem;
    border: none;

    background-color: var(--orange);
    color: var(--light-2);

    font-family: var(--font);

    
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.2rem;
    letter-spacing: 0px;
    text-align: center;

}

.menu_secondary{
    height: 4.8rem;
    width: 27.9rem;
    left: 0px;
    top: 0px;
    border-radius: 2.6rem;
    border: none;

    background-color: var(--medium-1);
    color: var(--dark-1);

    font-family: var(--font);

    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.2rem;
    letter-spacing: 0px;
    text-align: center;


}


/************   CARDS UNIVERSAL ************/

.unclicked {
    color: transparent;
    background-color: var(--dark-2);

    transition: all .2s;
}

.unclicked:hover{
    background-color: var(--medium-3);
}

.clicked{
    color: var(--light-2);
    background-color: var(--orange);
}

.solved{
    background-color: var(--medium-2);
    color: var(--light-2);
}

/************ 4 by 4 specific ************/

.grid4 {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    column-gap: 2vmin;
    row-gap: 2vmin;

    /* height: 53.2rem;
    width: 53.2rem; */

    height: 50vmin;
    width: 50vmin;

    margin-top: 10vh;
}

.card4 {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    height: 11vmin;
    width: 11vmin;

    border-radius: 50%;

    font-weight: 700;
    font-size: min(5.6rem, 8vmin);
}

.upper4{
    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
    width: 80%;
    /* display: none; */
    margin-top: 3vmin;
    margin-bottom: 3vmin;
}

.utilities4{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.utilities4>button:nth-child(1){
    margin-right: 2vmin;
}

.name4{
    font-size: min(4rem, 5vmin);
    font-weight: 700;


    color: var(--dark-2);

    line-height: 4.96rem;

}

.lower4{
    width: 60vw;
    height: 12vh;


    display: flex;
    flex-direction: row;

    justify-content: space-around;

    margin-top: 10vh;
}

.lower4_box{
    background-color: #DFE7EC;

    /* width: 25.5rem;
    height: 7.2rem; */

    width: 27vw;


    font-size: min(3vmin, 3.8rem);
    line-height: 2.2rem;
    font-weight: 700rem;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-radius: 1rem;
}

.lower4_box_text{
    color: var(--medium-2);
}

.lower4_box_data{
    color: var(--dark-1);

    font-size: min(4vmin, 4rem);
    line-height: 4rem;
}

/************ 6 by 6 specific ************/

.grid6{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);

    gap: 2vmin;

    width: 64vmin;
    height: 64vmin;

    margin-top: 10vh;
}

.card6{
    width: 9vmin;
    height: 9vmin;

    border-radius: 50%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: min(4.4rem, 5vmin);

}

.lower6{
    width: 60vw;
    height: 12vh;

    display: flex;
    flex-direction: row;

    justify-content: space-around;

    margin-top: 10vh;

}


/************ START MENU ************/

.start_page{
    background-color: var(--dark-2);
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.start_menu{
    width: min(65.4rem, 85vw);
    height: min(55.9rem, 77vh);  



    display: flex;

    border-radius: 2rem;

    background-color: var(--light-2);

    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.start_menu_item{
    width: min(54.2rem, 83%);
    height: min(9.3rem, 12vh);



    display: flex;
    justify-content: space-between;

}

.start_title{
    font-size: min(4rem, 10vmin);
    line-height: 5rem;
    font-weight: 700;

    color: var(--light-2);

    margin-bottom: 5vh;

    display: flex;

    justify-content: center;
    align-items: center;
}


/************ POPUPS ************/

.popup{
    z-index: 5;
    height: 100vh;
    width: 100vw;

    position: absolute;

    background-color: #979797dc;


    display: flex;

    justify-content: center;
    align-items: center;
}

.win_square{
    width: min(65.4rem, 100%);
    height: min(51rem, 100%);
    border-radius: 2rem;

    background-color: var(--light-2);

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.win_title{
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 6rem;
    letter-spacing: 0px;
    text-align: center;

    color: var(--dark-2);

}

.win_blurb{
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.2rem;
    letter-spacing: 0px;
    text-align: center;

    color: var(--medium-2);

}

.win_results{
    height: 16rem;
    width: min(54.2rem, 90%);

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    margin-bottom: 4rem;

}

.win_results_item{
    width: min(54.2rem, 100%);
    height: 7.2rem;
    border-radius: 1rem;

    background-color: #DFE7EC;


    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
}

.win_results_item > h2{
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.2rem;
    letter-spacing: 0px;
    text-align: left;

    color: var(--medium-2);

    margin-left: 3.2rem;
    
}

.win_results_item > div {
    font-size: min(3.2rem, 6vmin);
    font-weight: 700;
    line-height: 4rem;
    letter-spacing: 0px;
    text-align: right;

    margin-right: 3.2rem;

    color: var(--dark-1);
}

.win_buttons{
    height: 5.2rem;
    width: min(54.2rem, 100%);

    display: flex;
    justify-content: space-between;
}

.btnz{
    width: 26.4rem;
}

.menu_square{
    width: 32.7rem;
    height: 22.4rem;
    border-radius: 1rem;

    background-color: var(--light-2);

    display: flex;

    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/************ RESPONSIVE ************/

@media (orientation:portrait) and (max-width:500px){
    .upper4{
        margin-bottom: 5vh;
    }

    .grid4{
        width: 76vmin;
        height: 76vmin;
        /* margin-left: 10vmin; */
    }

    .card4{
        width: 14vmin;
        height: 14vmin ;
    }

    .grid6{
        width: 82vmin;
        height: 82vmin;
    }

    .card6{
        width: 12vmin;
        height: 12vmin;
    }

    .lower4{
        width: 100%;
    }

    .lower4_box{
        width: 45%;
        height: 80%;
    }

    .lower6{
        width: 100%;
    }

    .lower6_box{
        width: 45%;
        height: 80%;
    }

    .win_square{
        height: 100%;
        border-radius: 0;
    }

    .win_buttons{
        justify-content: space-around;
    }
}