/************ OVERALL DIMENSION ************/
:root {
    --orange: #FDA214;
    --medium-1: #BCCED9;
    --dark-1: #304859;
    --dark-2: #152938;
    --light-1: #F2F2F2;
    --medium-2: #7191A5;
    --medium-3: #6395B8;
    --light-2: #FCFCFC;

    --font: 'Atkinson Hyperlegible', sans-serif;

    font-size: 62.5%;

    margin: 0;
    padding: 0;
}

html {
    font-family: inherit;
}

.body {
    background-color: var(--light-2);
    font-family: var(--font);
    font-size: 4.8rem;

    width: 144rem;
    max-width: 100vw;
    height: 100vh;

    overflow: hidden;

    background-color: lightblue;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    z-index: 3;

    position: relative;

    border: 1px solid red;
    
}

/************ BUTTONS ************/

.button{
    background-color: orange;
    color: var(--light1);
    font-family: var(--font);

    font-size: 2rem;
    padding: 2rem;
    border-radius: 20px;
}

.btn_primary_win{
    height: 5.2rem;
    width: 26.4rem;
    border-radius: 2.6rem;

    background-color: var(--orange);
    color: var(--light-2);

    font-size: 2rem;

    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;

    opacity: 1;

    transition: all .2s;

}

.btn_primary_win:hover{
    opacity: 0.7;
}

.btn_primary{
    height: 5.2rem;
    width: 12.7rem;
    border-radius: 2.6rem;

    background-color: var(--orange);
    color: var(--light-2);

    font-size: 2rem;

    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;

    opacity: 1;

    transition: all .2s;

}

.btn_primary:hover{
    opacity: 0.7;
}

.btn_secondary{
    height: 5.2rem;
    width: 14.9rem;
    border-radius: 2.6rem;

    background-color: var(--medium-1);
    color: var(--dark-1);

    font-weight: 700;
    font-size: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;

    transition: all .2s;
}

.btn_secondary:hover{
    color: var(--light-2);
    background-color: var(--medium-3);
}

.btn_secondary_win{
    height: 5.2rem;
    width: 26.4rem;
    border-radius: 2.6rem;

    background-color: var(--medium-1);
    color: var(--dark-1);

    font-weight: 700;
    font-size: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;

    transition: all .2s;
}

.btn_secondary_win:hover{
    color: var(--light-2);
    background-color: var(--medium-3);
}

.menu_selection {
    width: 25.6rem;
    height: 5.2rem;
    border-radius: 2.6rem;

    font-size: 2.6rem;
    font-weight: 700;
    line-height: 3.2rem;
    letter-spacing: 0px;

    display: flex;

    justify-content: center;
    align-items: center;

    color: var(--light-2);

    background-color: var(--dark-1);

    border: none;

    transition: all .2s;
    
}

.menu_selection:hover{
    background-color: var(--medium-3);
}

.menu_selection_clicked{
    border: none;
    width: 25.6rem;
    height: 5.2rem;
    border-radius: 2.6rem;

    font-size: 2.6rem;
    font-weight: 700;
    line-height: 3.2rem;
    letter-spacing: 0px;

    display: flex;

    justify-content: center;
    align-items: center;

    color: var(--light-2);

    background-color: var(--medium-1);

    transition: all .2s;
}

.btn_big{
    width: 54.1rem;
    height: 7rem;

    border-radius: 3.5rem;

    background-color: var(--orange);

    color: var(--light-2);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3.2rem;
    line-height: 4rem;
    font-weight: 700;
    
    opacity: 1;

    transition: all .2s;

    border: none;
}

.btn_big:hover{
    opacity: 0.7;
}

.utilities_mobile{
    height: 4rem;
    width: 7.8rem;
    border-radius: 2.6rem;

    background-color: var(--orange);

    color: var(--light-2);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 0px;
    text-align: center;

    border: none;

}

.menu_primary{
    height: 4.8rem;
    width: 27.9rem;
    left: 0px;
    top: 0px;
    border-radius: 2.6rem;
    border: none;

    background-color: var(--orange);
    color: var(--light-2);

    font-family: var(--font);

    
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.2rem;
    letter-spacing: 0px;
    text-align: center;

}

.menu_secondary{
    height: 4.8rem;
    width: 27.9rem;
    left: 0px;
    top: 0px;
    border-radius: 2.6rem;
    border: none;

    background-color: var(--medium-1);
    color: var(--dark-1);

    font-family: var(--font);

    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.2rem;
    letter-spacing: 0px;
    text-align: center;


}


/************   CARDS UNIVERSAL ************/

.unclicked {
    color: transparent;
    background-color: var(--dark-2);

    transition: all .2s;
}

.unclicked:hover{
    background-color: var(--medium-3);
}

.clicked{
    color: var(--light-2);
    background-color: var(--orange);
}

.solved{
    background-color: var(--medium-2);
    color: var(--light-2);
}

/************ 4 by 4 specific ************/

.grid4 {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    column-gap: 2rem;
    row-gap: 2rem;

    height: 53.2rem;
    width: 53.2rem;

    margin-top: 10.5rem;
}



.card4 {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    height: 11.8rem;
    width: 11.8rem;

    border-radius: 5.9rem;

    font-weight: 700;
    font-size: 5.6rem;
}

.upper4{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 111rem;
    max-width: 92vw;
    height: 5.2rem;
    margin-top: 6.7rem;
}

.utilities4{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 29.2rem;
    height: 5.2rem;

}

.name4{
    font-size: 4rem;
    font-weight: 700;

    color: var(--dark-2);

    line-height: 4.96rem;

}

.lower4{
    width: 54rem;
    height: 7.2rem;

    display: flex;
    flex-direction: row;

    justify-content: space-between;

    margin-top: 12.6rem;

    margin-bottom: 7rem;
}

.lower4_box{
    background-color: #DFE7EC;

    width: 25.5rem;
    height: 7.2rem;

    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 700rem;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-radius: 1rem;
}

.lower4_box_text{
    color: var(--medium-2);
}

.lower4_box_data{
    color: var(--dark-1);

    font-size: 3.2rem;
    line-height: 4rem;
}

/************ 6 by 6 specific ************/

.grid6{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);

    gap: 1.6rem;

    width: 57.2rem;
    height: 57.2rem;

    margin-top: 8.5rem;
}

.card6{
    width: 8.2rem;
    height: 8.2rem;

    border-radius: 4.1rem;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 4.4rem;

}

.lower6{
    width: 54rem;
    height: 7.2rem;

    display: flex;
    flex-direction: row;

    justify-content: space-between;

    margin-top: 12.6rem;
    margin-bottom: 7rem;
}


/************ START MENU ************/

.start_page{
    background-color: var(--dark-2);
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.start_menu{
    width: 65.4rem;
    height: 55.9rem;
    display: flex;

    border-radius: 2rem;

    background-color: var(--light-2);

    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.start_menu_item{
    width: 54.2rem;
    height: 9.3rem;

    display: flex;
    justify-content: space-between;
}

.start_title{
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 700;

    color: var(--light-2);

    margin-bottom: 8rem;

    display: flex;

    justify-content: center;
    align-items: center;
}


/************ POPUPS ************/

.popup{
    z-index: 5;
    height: 100vh;
    width: 100vw;

    position: absolute;

    background-color: #979797dc;


    display: flex;

    justify-content: center;
    align-items: center;
}

.win_square{
    width: 65.4rem;
    height: 51rem;
    border-radius: 2rem;

    background-color: var(--light-2);

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.win_title{
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 6rem;
    letter-spacing: 0px;
    text-align: center;

    color: var(--dark-2);

}

.win_blurb{
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.2rem;
    letter-spacing: 0px;
    text-align: center;

    color: var(--medium-2);

}

.win_results{
    height: 16rem;
    width: 54.2rem;

    display: flex;
    flex-direction: column;

}
.win_results_item{
    width: 54.2rem;
    height: 7.2rem;
    border-radius: 1rem;

    background-color: #DFE7EC;


    display: flex;

    justify-content: space-evenly;
}

.win_buttons{
    height: 5.2rem;
    width: 54.2rem;

    display: flex;
    justify-content: space-between;
}

.btnz{
    width: 26.4rem;
}

.menu_square{
    width: 32.7rem;
    height: 22.4rem;
    border-radius: 1rem;

    background-color: var(--light-2);

    display: flex;

    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/************ RESPONSIVE ************/

@media only screen and (max-width: 768px) {
    .grid4{
    }
    .card4{
    }
    .upper4{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        width: 68.9rem;
        height: 5.2rem;
        margin-top: 3.7rem;
    }

    .lower6{
        width: 54rem;
        height: 7.2rem;
    
        display: flex;
        flex-direction: row;
    
        justify-content: space-between;
    
        margin-top: 12.2rem;
    }

  }


  @media only screen and (max-width: 667px) {
      .start_menu{
          width: 32.7rem;
          height: 38.6rem;

          overflow: hidden;

          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
      }
      
    
    .start_menu_item{
        width: 27.9rem;
    }

    .menu_selection{
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2rem;
        letter-spacing: 0px;
        text-align: center;


        width: 13.4rem;
        height: 4rem;
        
    }

    .menu_selection_clicked{
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2rem;
        letter-spacing: 0px;
        text-align: center;

        
        width: 13.4rem;
        height: 4rem;
        
    }

    .btn_big{
        width: 27.9rem;
        height: 4.8rem;
        border-radius: 2.6rem;

        font-size: 1.8rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.2rem;
        letter-spacing: 0px;

    }

    .start_title{
        font-size: 3.2rem;
    }


    .grid6{
        width: 32.7rem;
        height: 32.7rem;

        grid-gap: 0.912rem;
    }

    .card6{
        width: 4.7rem;
        height: 4.7rem;
        border-radius: 4.1rem;

        font-size: 2.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3rem;
        letter-spacing: 0px;
        text-align: center;
    }

    .grid4{
        width: 32.7rem;
        height: 32.7rem;

        margin-top: 5rem;
    }

    .card4{
        width: 7.3rem;
        height: 7.3rem;
        border-radius: 5.9rem;

        font-size: 4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 5rem;
        letter-spacing: 0px;
        text-align: center;

    }

    .lower4{
        width: 32.7rem;
        height: 7rem;
    
        display: flex;
        flex-direction: row;
    
        justify-content: space-between;
    
        margin-top: 5rem;
    
        margin-bottom:2.4rem;
    }

    .lower4_box{
        width: 15.1rem;
        height: 7rem;
    }
}